.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
}

.App-header {
  text-align: left;
  background-color: #277fb9;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-container {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
